model: {
  second: {
    network_class_name: "VoxelNet"
    voxel_generator {
      full_empty_part_with_mean: false
      point_cloud_range : [-29.84, -66.32, -9, 59.76, 30, 3]
      voxel_size : [0.28, 0.28, 12]
      max_number_of_points_per_voxel : 100
    }
    voxel_feature_extractor: {
      module_class_name: "PillarFeatureNet"
      num_filters: [64]
      with_distance: false
      num_input_features: 4
      #use_groupnorm: true
      #num_groups:32
    }
    middle_feature_extractor: {
      module_class_name: "PointPillarsScatter"
      downsample_factor: 1
      num_input_features: 64
    }
    rpn: {
      module_class_name: "RPN"
      layer_nums: [3, 5, 5]
      layer_strides: [2, 2, 2]
      num_filters: [64, 128, 256]
      upsample_strides: [1, 2, 4]
      num_upsample_filters: [128, 128, 128]
      use_groupnorm: false
      num_groups: 32
      num_input_features: 64
    }
    loss: {
      classification_loss: {
        weighted_softmax_focal_smooth: {
          alpha: 0.25
          gamma: 2.0
          anchorwise_output: true
          smooth:0.08 }
      }
      localization_loss: {
        weighted_smooth_l1: {
          sigma: 3.0
          code_weight: [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]
        }
      }
      classification_weight: 1.0
      localization_weight: 2.0
    }
    num_point_features: 4 # model's num point feature should be independent of dataset
    # Outputs
    use_sigmoid_score: false
    encode_background_as_zeros: false
    encode_rad_error_by_sin: true

    use_direction_classifier: true
    direction_loss_weight: 0.2
    num_direction_bins: 2
    direction_limit_offset: 0

    # Loss
    pos_class_weight: 1.0
    neg_class_weight: 1.0

    loss_norm_type: NormByNumPositives
    # Postprocess
    post_center_limit_range: [-30, -67, -9, 60, 31, 2]
    nms_class_agnostic: false # only valid in multi-class nms
    box_coder: {
      ground_box3d_coder: {
        linear_dim: false
        encode_angle_vector: false
      }
    }
    target_assigner: {
      class_settings: {
        anchor_generator_stride: {
          sizes: [9.25,4.65, 4.76] # lwh
          strides: [0.56, 0.56, 0.0] # if generate only 1 z_center, z_stride will be ignored
          offsets: [-29.56, -66.04, -5.90] # origin_offset + strides / 2
          rotations: [0, 1.57] # 0, pi/2
        }
        matched_threshold : 0.6
        unmatched_threshold : 0.45
        class_name: "Truck"
        use_rotate_nms: false
        use_multi_class_nms: false
        nms_pre_max_size: 1000
        nms_post_max_size: 100
        nms_score_threshold: 0.3
        nms_iou_threshold: 0.1
        region_similarity_calculator: {
          nearest_iou_similarity: {
          }
        }
      }
      sample_positive_fraction : -1
      sample_size : 512
      assign_per_class: false
    }
  }
}

train_input_reader: {
  dataset: {
    dataset_class_name: "KittiDataset"
    kitti_info_path: "/home/wangguojun/dataset/roadside/0906/kitti_infos_train_reduced.pkl"
    kitti_info_path: "/home/wangguojun/dataset/roadside/0927/kitti_infos_train_reduced.pkl"
    kitti_info_path: "/home/wangguojun/dataset/roadside/1113/kitti_infos_train_reduced.pkl"
    kitti_root_path: "/home/wangguojun/dataset/roadside/0906"
    is_reduced: true
  }
  
  batch_size: 2
  preprocess: {
    max_number_of_voxels: 4000
    shuffle_points: true
    num_workers: 4
    groundtruth_localization_noise_std: [0.25, 0.25, 0.25]
    groundtruth_rotation_uniform_noise: [-0.15707963267, 0.15707963267]
    global_rotation_uniform_noise: [-0.78539816, 0.78539816]
    global_scaling_uniform_noise: [0.95, 1.05]
    global_random_rotation_range_per_object: [0, 0]
    global_translate_noise_std: [0.2, 0.2, 0.2]
    anchor_area_threshold: -1
    remove_points_after_sample: true
    #groundtruth_points_drop_percentage: 0.0
    #groundtruth_drop_max_keep_points: 15
    #remove_unknown_examples: false
    sample_importance: 1.0
    random_flip_x: true
    random_flip_y: true
    random_bg_filter:false
    random_height:false
    #remove_environment: false
    min_num_of_points_in_gt:80
    database_sampler {
       database_info_path: "/home/wangguojun/dataset/roadside/0906/kitti_dbinfos_train_reduced.pkl"
       database_info_path: "/home/wangguojun/dataset/roadside/0927/kitti_dbinfos_train_reduced.pkl"
       database_info_path: "/home/wangguojun/dataset/roadside/1113/kitti_dbinfos_train_reduced.pkl"
       database_info_path: "/home/wangguojun/dataset/roadside/0906/kitti_dbinfos_train.pkl"
       database_info_path: "/home/wangguojun/dataset/roadside/0927/kitti_dbinfos_train.pkl"
       database_info_path: "/home/wangguojun/dataset/roadside/1113/kitti_dbinfos_train.pkl"
      sample_groups {
        name_to_max_num {
          key: "Truck"
          value: 25
        }
      }
      database_prep_steps {
        filter_by_min_num_points {
          min_num_point_pairs {
            key: "Truck"
            value: 80
          }
        }
      }
      database_prep_steps {
        filter_by_difficulty {
          removed_difficulties: [-1]
        }
      }
      rate: 1.0
    }
  }
}

train_config: {
    optimizer {
        adam_optimizer {
        learning_rate {
         one_cycle {
            lr_max: 2.25e-3
            moms:[0.95, 0.85]
            div_factor: 10.0
            pct_start: 0.40000001
          }
        }
        #momentum_optimizer_value:0.9
        weight_decay:0.01
      }
    fixed_weight_decay: true
    use_moving_average: false
  }
  steps: 220000 # 92800 # 2790/2 steps per epoch * 160 epochs
  steps_per_eval: 22000 # 9280 # 2790/2 steps per epoch * 5 epochs
  save_checkpoints_secs : 1800 # half hour
  save_summary_steps : 4
  enable_mixed_precision: false
  loss_scale_factor: -1
  clear_metrics_every_epoch: true
  msra: true
}

eval_input_reader: {
  dataset: {
    dataset_class_name: "KittiDataset"
    kitti_info_path: "/home/wangguojun/dataset/roadside/0906/kitti_infos_val_reduced.pkl"
    kitti_info_path: "/home/wangguojun/dataset/roadside/0927/kitti_infos_val_reduced.pkl"
    kitti_info_path: "/home/wangguojun/dataset/roadside/1113/kitti_infos_val_reduced.pkl"
    kitti_root_path: "/home/wangguojun/dataset/roadside/0906"
    is_reduced: true
  }
  batch_size: 1
  
  preprocess: {
    max_number_of_voxels: 12000
    shuffle_points: false
    num_workers: 4
    anchor_area_threshold: -1
    remove_environment: false
    random_bg_filter:false
  }
}
